<body>

    <main class="pt-5 mt-3" style="min-height: calc(100vh - 60px);">

        <div class="container py-5">
            <div class="mb-3">
                <h4 class="mb-0">Statistiques</h4>
                <div class="d-flex flex-nowrap align-items-center">
                    <!-- <p class="style_bord text-muted mb-0 me-1"><i class="bi-calendar me-2"></i>12 Avril 2022 - 26 Avril 2022</p> -->
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="text-white h-100 p-4 rounded-3"
                        style="background: rgb(39,127,202); background: linear-gradient(90deg, rgba(39,127,202,1) 0%, rgba(70,133,208,1) 50%, rgba(132,211,255,1) 100%);">
                        <h6 class="style_bold">Nombres de projet</h6>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <i class="bi-folder-fill display-4"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
                            </div>
                            <div class="text-wrap">
                                <h1 class="style_bold mb-0"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                    10</h1>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgba(39,127,202,1);">0uvert:
                                    10</span>
                            </div>
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgba(39,127,202,1);">Fermés:
                                    00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="text-white h-100 p-4 rounded-3"
                        style="background: rgb(202,39,176);background: linear-gradient(90deg, rgba(202,39,176,1) 0%, rgba(208,70,163,1) 50%, rgba(255,132,254,1) 100%);;">
                        <h6 class="style_bold">Parcelles enrégistrées</h6>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <i class="bi-map-fill display-4"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
                            </div>
                            <div class="text-wrap">
                                <h1 class="style_bold mb-0"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                    35647</h1>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(202,39,176);">Convenus:
                                    11472</span>
                            </div>
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(202,39,176);">Conflivtuel:
                                    24174</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="text-white h-100 p-4 rounded-3"
                        style="background: rgb(39,202,132); background: linear-gradient(90deg, rgba(39,202,132,1) 0%, rgba(70,208,151,1) 50%, rgba(132,255,221,1) 100%);">
                        <h6 class="style_bold">Téléchargement</h6>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <i class="bi-cloud-arrow-down-fill display-4"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
                            </div>
                            <div class="text-wrap">
                                <h1 class="style_bold mb-0"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                    10</h1>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(39,202,132);">Corrects:
                                    10</span>
                            </div>
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(39,202,132);">Erronés:
                                    03</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="text-white h-100 p-4 rounded-3"
                        style="background: rgb(202,156,39); background: linear-gradient(90deg, rgba(202,156,39,1) 0%, rgba(208,179,70,1) 50%, rgba(255,233,132,1) 100%);">
                        <h6 class="style_bold">Nombres de publication</h6>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <i class="bi-volume-up-fill display-4"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
                            </div>
                            <div class="text-wrap">
                                <h1 class="style_bold mb-0"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                    13</h1>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(202,156,39);">0uvertes:
                                    10</span>
                            </div>
                            <div class="style_medium">
                                <span class="badge"
                                    style="background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5047268907563025) 100%); color: rgb(202,156,39);">Fermés:
                                    00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <app-footer-page></app-footer-page>
</body>