<main class="pt-5 mt-3" style="min-height: calc(100vh - 60px);">

    <!-- Modal -->
    <div class="modal fade" id="exampleModalSpumettreFile" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalInitialisationLabel" aria-hidden="true" style="background: linear-gradient(90deg, rgba(226, 244, 242, 0.6) -2.71%, rgba(248, 248, 239, 0.6) 58.43%, rgba(249, 237, 238, 0.6) 100%);">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
          <div class="modal-header border-0 pb-0 align-items-start">
            <h5 class="mb-0" id="exampleModalInitialisationLabel">Formulaire d'ajout d'un utilisateur</h5>
            <button type="button" class="btn-close ms-md-5" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <form class="">
                <div class="mb-3">
                    <label class="mb-1">Organisation <span class="text-danger">*</span></label>
                    <select class="form-control form-select" type="select">
                        <option>Nom Organisation</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="mb-1">Role <span class="text-danger">*</span></label>
                    <select class="form-control form-select" type="select">
                        <option>Nom Role</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="mb-1">Nom <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Votre nom" type="text" name="" id="">
                </div>
                <div class="mb-3">
                    <label class="mb-1">Prénom <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Votre prénom" type="text" name="" id="">
                </div>
                <div class="mb-3">
                    <label class="mb-1">Email <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Votre mail" type="email" name="" id="">
                </div>
                <div class="mb-3">
                    <label class="mb-1">Téléphone <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Votre téléphone" type="number" name="" id="">
                </div>
                <div class="mb-3">
                    <label class="mb-1">Mot de passe <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Votre mot de passer" type="password" name="" id="">
                </div>
                <div class="mb-3">
                    <label class="mb-1">Confirmer ot de passe <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Confirmer votre mot de passer" type="password" name="" id="">
                </div>
              </form>
          </div>
          <div class="modal-footer border-0 pt-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x me-1"></i>Fermer</button>
            <button type="button" class="btn btn-success shadow-sm"><i class="bi-check me-1"></i>Ajouter</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-sm-6 mb-2">
                <div class="">
                    <h4 class="mb-0">Liste des utilisateurs</h4>
                    <div class="d-flex flex-nowrap align-items-center">
                        <!-- <p class="style_bord text-muted mb-0 me-1"><i class="bi-calendar me-2"></i>12 Avril 2022 - 26 Avril 2022</p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <div class="d-flex flex-wrap justify-content-end">
                    <form class="d-flex flex-fill mb-2" role="search">
                        <div class="input-group">
                          <div class="dropdown">
                                <button class="btn btn-light border border-end-0 dropdown-toggle style_after_none rounded-end-0" type="button" id="button-addon1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="bi-sliders2"></i>
                              </button>
                              <div class="dropdown-menu p-3 border-0 shadow-lg" style="min-width:19rem; max-height: 300px; overflow-y: auto;">
                                  <form class="">
                                    <div class="mb-2">
                                        <label class="mb-1">Code projet <span class="text-danger">*</span></label>
                                        <input class="form-control" type="search" placeholder="Filtrer" aria-label="Search">
                                    </div>
                                    <div class="mb-2">
                                        <label class="mb-1">Type <span class="text-danger">*</span></label>
                                        <select class="form-control form-select">
                                            <option>sélectionner</option>
                                            <option>Don</option>
                                        </select>
                                    </div>

                                    <div class="mb-2">
                                        <label class="mb-1">Statut <span class="text-danger">*</span></label>
                                        <select class="form-control form-select">
                                            <option>sélectionner</option>
                                            <option>Don</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success w-100">Rechercher</button>
                                  </form>
                              </div>
                          </div>
                          <input class="form-control rounded-start-0" type="search" placeholder="Filtrer" aria-label="Search" aria-describedby="button-addon1">
                        </div>
                      </form>
                      <div class="mb-2 ms-2">
                          <button href="#" class="btn btn-success text-nowrap shadow-lg w-100" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalSpumettreFile" ><i class="bi-plus-square me-2"></i>Ajouter</button>
                      </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mb-4">
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#992E88;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#2E6C99;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100" style="opacity: 0.4;">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex justify-content-between w-100">
                            <h5 class="mb-0">
                                <i class="bi-person-lock"></i>
                            </h5>
                            <div class="mb-3">
                                  <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-list"></i>
                                </a>
                              
                              <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                        <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                        <span>Rapport de validation</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                        <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                        <span>Plan Cadastral</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                        <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                        <span>Répertoire (PDF)</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                        <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                        <span>Répertoire (Excel)</span>
                                    </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#36992E;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#99752E;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#992E2E;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#99612E;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#2E9993;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="bg-white p-3 rounded-4 h-100">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="ms-auto mb-3">
                              <a href="#" class="style_link text-dark dropdown-toggle d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                          
                          <ul class="dropdown-menu dropdown-menu-end p-0 border-0 shadow-lg">
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-check-fill"></i></h6>
                                    <span>Rapport de validation</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-map-fill"></i></h6>
                                    <span>Plan Cadastral</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-pdf-fill"></i></h6>
                                    <span>Répertoire (PDF)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center py-3" href="#">
                                    <h6 class="mb-0 me-2"><i class="bi-file-earmark-excel-fill"></i></h6>
                                    <span>Répertoire (Excel)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                        <div class="rounded-circle p-2 text-dark style_users_profil d-flex justify-content-center align-items-center mb-3" style="background:#6A2E99;">
                            <h1 class="style_bold mb-0" style="color: rgba(255, 255, 255, 0.7);">N</h1>
                        </div>
                        <h5 class="mb-1 style_semiBold">Notaire Cabinet</h5>
                        <p class="style_font_size_small mb-1">notaire@efb.bj</p>
                        <span class="badge text-primary" style="background-color: #E5EDFB;">+22997569701</span>
                    </div>
                    <hr class="my-3 text-muted">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-0">Notaire</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>